<div class="w-full text-black bg-white">
  <div
    class="flex items-center max-w-720 mx-auto justify-between px-4 py-8 w-full text-xl lg:text-2xl uppercase font-light md:h-80 h-40 xl:px-10"
  >
    <div class="flex cursor-pointer w-fit">
      <svg-icon
        class="flex w-32 h-28 px-2 animate-delay-500 animate-fade-down"
        src="assets/icons/logo.svg"
      ></svg-icon>
    </div>

    <div class="items-center text-[2rem] justify-center w-full gap-5 flex">
      <button
        type="button"
        class="px-5 py-2 transition-all duration-300 rounded-full block animate-delay-700 animate-fade-up active:brightness-125 hover:bg-base-primary-400"
      >
        Nossa história
      </button>
      <button
        type="button"
        class="px-5 py-2 transition-all duration-300 rounded-full block animate-delay-700 animate-fade-up active:brightness-125 hover:bg-base-primary-400"
      >
        Cerimônia
      </button>
      <button
        type="button"
        class="px-5 py-2 transition-all duration-300 rounded-full block animate-delay-700 animate-fade-up active:brightness-125 hover:bg-base-primary-400"
      >
        Presentes
      </button>
    </div>
  </div>
</div>
