.logo path {
  stroke: black;
  stroke-width: 2;
  fill: transparent;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: draw-loop 10s ease-in-out infinite;
}

@keyframes draw-loop {
  0% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }

  10% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  30% {
    stroke-dashoffset: 0;
    fill: black;
  }
}
