<div class="relative w-full text-black">
  <div
    class="flex max-w-720 mx-auto justify-between px-4 py-8 w-full h-40 lg:h-50 text-xl lg:text-2xl"
  >
    <div
      class="bg-base-500 flex items-center justify-center gap-20 lg:gap-40 xl:gap-80 w-full"
    >
      <div class="hidden md:block text-end w-100 tracking-[0.25rem]">
        <p class="xl:text-[1.5rem]">
          Convidamos <span class="text-base-700">você</span>
        </p>
        <p class="xl:text-[1.5rem]">para a celebração</p>
        <p class="xl:text-[1.5rem]">do nosso casamento</p>
      </div>

      <app-logo></app-logo>
      <div class="w-100 tracking-[0.25rem]">
        <p class="xl:text-[1.5rem]">O autor da vida</p>
        <p class="xl:text-[1.5rem]">conta histórias belas</p>
        <p class="xl:text-[1.5rem]">
          Já escreveu a <span class="text-base-700">nossa</span>,
        </p>
        <p class="xl:text-[1.5rem]">com final feliz.</p>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div
      class="flex items-center gap-20 relative flex-col max-w-720 mx-auto justify-center px-4 py-8 w-full text-xl lg:text-2xl"
    >
      <p
        class="not-italic md:hidden font-raleway uppercase text-[1.5rem] text-center tracking-[0.25rem]"
      >
        Convidamos
        <span class="not-italic font-raleway uppercase text-base-700">
          você
        </span>
        para a celebração do nosso casamento
      </p>
      <div class="text-center">
        <h1 class="md:py-10 font-semibold text-[3rem] xl:text-[5rem]">
          Cerimônia
        </h1>
        <p class="text-3xl leading-20 font-raleway not-italic font-semibold">
          19 de Abril de 2026 | Domingo, às 10h30
        </p>
        <p class="text-2xl font-raleway not-italic">IASD JD. Wanderley</p>
        <p class="text-2xl font-raleway not-italic">
          R. Profa. Maria de Lourdes A. Sinisgali, 306
        </p>
        <p class="text-2xl font-raleway not-italic">
          Jardim Wanderley, Tatuí/SP, 18272-111
        </p>
      </div>

      <iframe
        class="h-150 8xl:h-250 lg:h-200 8xl:max-w-700 max-w-400 w-screen shadow"
        loading="lazy"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.088663134101!2d-47.87309612202379!3d-23.34880215382267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c5d8e320aa1853%3A0x1a18e1838705776d!2sIgreja%20Adventista%20do%20S%C3%A9timo%20Dia%20Jd%20Wanderley!5e0!3m2!1spt-BR!2sbr!4v1763743464469!5m2!1spt-BR!2sbr"
        allowfullscreen=""
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <div class="flex justify-center">
        <a
          class="flex gap-5 border font-medium text-3xl leading-12 not-italic hover:underline font-raleway rounded-full px-10 py-5"
          href="https://maps.app.goo.gl/ULMfYE1ogsf1fU9M9"
          target="_blank"
        >
          <svg-icon
            class="block h-12 w-12"
            src="assets/icons/pin.svg"
          ></svg-icon>
          Ir para o mapa
        </a>
      </div>
    </div>
  </div>
</div>
