<div class="relative w-full h-400 text-black">
  <div
    class="flex max-w-720 mx-auto justify-between px-4 py-8 w-full text-xl lg:text-2xl"
  >
    <div
      class="bg-base-500 flex items-start pt-20 pb-40 justify-between w-full"
    >
      <div>
        <p>O Casamento</p>
        <p>Domingo, 19 de Abr, 2026</p>
      </div>
      <svg-icon
        class="text-black flex w-52 px-2 animate-delay-500 animate-fade-down"
        src="assets/icons/logo.svg"
      ></svg-icon>
      <div>
        <p>Convidamos você para a celebração do nosso casamento.</p>
        <p>O autor da vida</p>
        <p>conta histórias belas</p>
        <p>Já escreveu a nossa,</p>
        <p>com final feliz.</p>
      </div>
    </div>
  </div>
  <div class="bg-white h-full">
    <div
      class="flex items-center gap-20 relative -top-40 flex-col max-w-720 mx-auto justify-center px-4 py-8 w-full text-xl lg:text-2xl"
    >
      <img class="h-208 w-fit" src="assets/images/banner.webp" />

      <div>
        <h1 class="py-2 font-semibold text-[5rem]">Cerimônia</h1>
        <p class="text-2xl">Domingo, 19 Abr, 10:30, IASD Jd. Wanderley</p>
        <p class="text-2xl">R. Profa. Maria de Lourdes A Sinisgali, 274</p>
        <p class="text-2xl">Jardim Wanderley, Tatuí - SP, 18270-000</p>
      </div>
    </div>
  </div>
</div>
