@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animated";
@plugin './plugins/grid-auto-fill.js';
@plugin './plugins/grid-auto-fit.js';

@import "./fonts/libre_baskerville.css";
@import "./fonts/raleway.css";

@import "./theme/colors.css";
@import "./theme/breakpoints.css";

@custom-variant scrolled (&.scrolled);
@custom-variant group-scrolled (.scrolled &);

@layer components {
  .tick-credits {
    @apply hidden;
  }

  .tick-flip-panel {
    @apply bg-base-500! text-black!;
  }
  .tick,
  .tick * {
    @apply not-italic font-raleway;
  }
}

@layer base {
  html {
    font-size: 62.5%;
  }

  *,
  html,
  body {
    @apply font-libre-baskerville italic;
  }
}
