@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-Bold.woff2)
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-BoldItalic.woff2)
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-Italic.woff2)
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-Medium.woff2)
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-MediumItalic.woff2)
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-Regular.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-SemiBold.woff2)
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(https://snv.testecpb.com.br/fonts/libre_baskerville/LibreBaskerville-SemiBoldItalic.woff2)
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-libre-baskerville: "Libre Baskerville", serif;
}
