@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-BlackItalic.ttf)
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-ExtraBoldItalic.ttf)
    format("truetype");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-ExtraLightItalic.ttf)
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-LightItalic.ttf)
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-MediumItalic.ttf)
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-SemiBoldItalic.ttf)
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(https://snv.testecpb.com.br/fonts/raleway/Raleway-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-raleway: "Raleway", sans-serif;
}
