.cloud {
  animation: scene 2s linear infinite;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.road {
  animation: scene 0.5s linear infinite;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

@keyframes scene {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 50%;
  }
}

.jump {
  animation: jump 0.5s linear infinite;
}

@keyframes jump {
    0%, 100% {
        bottom: 25px;
    }
    45%, 55% {
        bottom: 190px;
    }
}

.blockade {
  animation: blockade 2s linear infinite;
}

@keyframes blockade {
  0% {
    right: -100px;
  }

  100% {
    right: 100%;
  }
}
