<div class="w-full h-full flex relative overflow-hidden">
  <div
    #cloud
    class="absolute h-50 cloud top-20 w-full"
    [style.background-image]="'url(assets/game/cloud.jpg)'"
  ></div>
  <div
    #road
    class="absolute h-30 jump bottom-10 w-30 left-5 flex bg-no-repeat bg-cover"
    [style.background-image]="'url(assets/game/dino.png)'"
  ></div>
  <div
    #road
    class="absolute h-40 blockade bottom-10 w-70 right-0 flex bg-no-repeat bg-cover"
    [style.background-image]="'url(assets/game/block.png)'"
  ></div>
  <div
    #road
    class="absolute h-10 road bottom-0 w-full"
    [style.background-image]="'url(assets/game/road.png)'"
  ></div>
  <div class="absolute right-20 top-60 text-2xl">Pontos <b>00</b></div>
</div>
