<div class="w-full text-black">
  <div
    class="flex items-center gap-5 justify-center px-4 py-8 w-full text-xl h-min"
  >
    <div class="flex cursor-pointer w-fit">
      <svg-icon
        class="flex w-16 h-14 md:w-24 md:h-22 px-2 animate-delay-500 animate-fade-down"
        src="assets/icons/logo.svg"
      ></svg-icon>
    </div>

    <div class="flex flex-col gap-2 items-center">
      <a
        href="https://api.whatsapp.com/send/?phone=5515991693292"
        target="_blank"
        class="hover:underline w-fit items-center text-xl justify-center gap- flex"
      >
        <svg-icon
          class="flex w-10 h-10 px-2"
          src="assets/icons/whatsapp.svg"
        ></svg-icon>
        (15) 9 9169-3292
      </a>
      <a
        href="https://github.com/jonassuncao"
        target="_blank"
        class="hover:underline flex-col w-fit items-center lg:flex-row text-xl justify-center lg:gap-2 flex"
      >
        <span>{{year | date : 'YYYY'}} Jônathas Assunção</span>
        <span class="hidden lg:inline">-</span>
        <span> Todos os direitos reservados. </span>
      </a>
    </div>
  </div>
</div>
