<div class="w-full text-black">
  <div
    class="flex items-center gap-5 justify-center px-4 py-8 w-full text-xl h-min"
  >
    <div class="flex cursor-pointer w-fit">
      <svg-icon
        class="flex w-16 h-14 md:w-24 md:h-22 px-2 animate-delay-500 animate-fade-down"
        src="assets/icons/logo.svg"
      ></svg-icon>
    </div>

    <a
      href="https://github.com/jonassuncao"
      target="_blank"
      class="hover:underline w-fit items-center text-xl justify-center gap-5 flex"
    >
      2025 Jônathas Assunção - Todos os direitos reservados.
    </a>
  </div>
</div>
