<div class="relative w-full bg-black overflow-hidden">
  <div class="relative overflow-hidden h-screen">
    <img
      #banner
      class="w-full object-cover object-center h-screen absolute top-0 left-0 opacity-90"
      src="assets/images/banner.webp"
    />
  </div>

  <div
    class="absolute animate-fade-right animate-once animate-ease-in-out text-white flex items-center justify-start h-full w-full top-10 left-80"
  >
    <div>
      <p class="text-[5rem] font-libre-baskerville italic">Vão se casar</p>
      <p
        class="text-[15rem] text-justify leading-none not-italic font-semibold font-raleway"
      >
        Sarah &
      </p>
      <p
        class="text-[15rem] leading-none font-semibold not-italic font-raleway"
      >
        Jônathas
      </p>
    </div>
  </div>
  <div
    class="absolute text-white flex items-end justify-center h-full w-full bottom-30 left-0"
  >
    <div class="w-fit flex items-center flex-col gap-40">
      <app-counter></app-counter>
      <div
        class="bg-white w-fit px-32 animate-fade-up animate-once animate-ease-in-out rounded-full text-[1.7rem] items-center justify-around gap-20 text-black py-7 flex"
      >
        <div class="text-center">
          <p>Domingo</p>
          <p>19 Abr, 2026</p>
        </div>
        <div class="border-l h-20"></div>
        <div class="text-center">
          <p>IASD Jd. Wanderley</p>
          <p>Tatuí - SP</p>
        </div>
      </div>
    </div>
  </div>
</div>
