<div class="relative w-full h-full bg-black/80 overflow-hidden">
  <img class="w-full opacity-50" src="assets/images/banner.webp" />

  <div
    class="absolute flex items-center justify-center h-full w-full top-0 left-0"
  >
    <div class="w-fit text-white flex items-center flex-col gap-10">
      <app-counter></app-counter>
      <div>
        <p class="text-[5rem]">Vão se casar</p>
        <p class="text-[15rem] leading-none">Sarah &</p>
        <p class="text-[15rem] leading-none">Jônathas</p>
      </div>
      <div
        class="bg-white w-fit px-20 rounded-full text-2xl items-center justify-around gap-20 text-black py-5 flex"
      >
        <div class="text-center">
          <p>Domingo</p>
          <p>19 Abr, 2026</p>
        </div>
        <div class="border-l h-20"></div>
        <div class="text-center">
          <p>IASD Jd. Wanderley</p>
          <p>Tatuí - SP</p>
        </div>
      </div>
    </div>
  </div>
</div>
