@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1366px;
  --breakpoint-2xl: 1440px;
  --breakpoint-5xl: 1920px;
  --breakpoint-8xl: 2560px;
}
