@theme {
  --color-base-50: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #fcfcfc;
  --color-base-300: #fafbfc;
  --color-base-400: #f7f8fa;
  --color-base-500: #f1f3f7;
  --color-base-600: #c3ccde;
  --color-base-700: #8896ba;
  --color-base-800: #576794;
  --color-base-900: #314070;
  --color-base-950: #141f47;
}
