@theme {
  --color-secondary-50: #fafcfc;
  --color-secondary-100: #fafcfc;
  --color-secondary-200: #f0f4f7;
  --color-secondary-300: #e6edf2;
  --color-secondary-400: #d5dee8;
  --color-secondary-500: #c3ccde;
  --color-secondary-600: #9daac7;
  --color-secondary-700: #6d7da6;
  --color-secondary-800: #465785;
  --color-secondary-900: #283663;
  --color-secondary-950: #111b40;
}
