@theme {
  --color-base-50: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #ffffff;
  --color-base-300: #fcfcfc;
  --color-base-400: #fcfcfa;
  --color-base-500: #fbfaf8;
  --color-base-600: #e0d7c8;
  --color-base-700: #baa68a;
  --color-base-800: #967a59;
  --color-base-900: #705032;
  --color-base-950: #472b15;

  --color-secondary-50: #FFFFFF;
  --color-secondary-100: #FCFCFC;
  --color-secondary-200: #FAF9F7;
  --color-secondary-300: #F7F7F5;
  --color-secondary-400: #F0EEEB;
  --color-secondary-500: #EBE8E4;
  --color-secondary-600: #D4C7B8;
  --color-secondary-700: #B09880;
  --color-secondary-800: #8C6C51;
  --color-secondary-900: #69462E;
  --color-secondary-950: #452513;
}
